@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.dark-mode-button {
  border: none;
  background: transparent;
  cursor: pointer;
  /* optional padding or margin adjustments */
}

body.dark-mode {
  background-color: #102a43 ;
  color: #ffffff;
}

:global(.pageWrapper) {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Force at least full viewport height */
}

/* Main content grows to fill remaining space */
:global(.mainContent) {
  flex: 1;
  /* If you want some spacing or background, do it here */
}

